[submodule "repos/git-tools"]
	path = repos/git-tools
	url = git://gitorious.org/willgit/mainline.git
[submodule "repos/powerline"]
	path = repos/powerline
	url = git://github.com/milkbikis/powerline-shell.git
[submodule "repo/solarized"]
	path = repo/solarized
	url = git://github.com/altercation/solarized.git
